.filter-card {
    background: var(--color-white-product);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 85px;
    border: 1px solid var(--border-color-origin);
    max-height: calc(100vh - 85px - 20px);
    overflow: hidden auto;
}

.filter-card::-webkit-scrollbar-track {
    background: var(--color-light-gray-product);
    border-radius: 10px;
}

.filter-card::-webkit-scrollbar-thumb {
    background: var(--color-primary-product);
    border-radius: 10px;
    transition: background 0.3s ease;
}

.filter-card::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-dark-product);
}

.filter-card {
    scrollbar-color: var(--color-primary-product) var(--color-light-gray-product);
    scrollbar-width: thin;
}

@media (max-width: 768px) {
    .filter-card {
        position: static;
        margin-bottom: 20px;
        max-height: none;
        overflow-y: visible;
    }
}
