.pagination {
    gap: 8px;
}

.page-link {
    border: 1px solid #ddd;
    color: var(--color-black-product);
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.page-link:hover, .page-link:focus {
    color: var(--color-white-product);
    background-color: var(--color-primary-product);
    border-color: var(--color-primary-product);
}

.page-item.active .page-link {
    background-color: var(--color-primary-product);
    border-color: var(--color-primary-product);
}

.page-item.disabled .page-link {
    opacity: 0.5;
    cursor: not-allowed;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 5px;
}
